body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: skyblue;
}

.left-panel {
    float: left;
    width: 50%;
    height: 100%;
    overflow: scroll;
}

.right-panel {
    float: right;
    width: 50%;
    background: #aaa;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

video {
    max-width: 100%;
    max-height: 100%;
}

#play-trigger {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    background: dimgray;
}

#play-trigger > span {
    width: 100%;
    font-size: 10rem;
    text-align: center;
    user-select: none;
    pointer-events: none;
    color: yellow;
}